.contact-me {
    width: rem(380px);
    background-color: rgba(#fff, 0.5);
    border-radius: rem(10px); 
    overflow: hidden;
    padding-top: rem(30px);
    z-index: 2;   
    min-height: rem(460px); 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include screen-sm {
        width: rem(350px);
    }
}

.contact-me__bg {
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(15px);
    background-image: url('../img/works-bg.png');
    background-repeat: no-repeat;

    @include screen-sm {
        background-image: url('../img/works-bg-sm.png');
    }

    @include screen-xs {
        background-image: url('../img/works-bg-xs.png');

        padding: 0 5%;
    }
}

.contact-me__title {
    margin: rem(20px) auto;
}
