.contents {
    display: flex;
    
    
    &::after {
        content: '';
        display: block;
        height: 147px;
    }
}

.contents__left {
    flex-shrink: 0;
}

.contents__right {
    display: block;
}