.contacts {
    position: absolute;
    width: 380px;
    height: 312px;
    background-color: rgba(#fff, 0.8);
    border-radius: 10px; 
    top: 25%;
    left: 50%;
    margin-left: -190px;
    padding: 35px 40px;
    z-index: 2;

}

.contacts__list {
    // list-style: none;
    margin-top: 15px;
}

.contacts__row {
    display: flex;
    height: 45px;
}


.contacts__svg {
    fill: $lightGreen;
    width: 24px;
    height: 24px;
}

.contacts__text {
    margin-left: 10px;
}