.contents {
    display: flex;
    
    
    &::after {
        content: '';
        display: block;
        height: rem(147px);
    }
}

.contents__left {
    flex-shrink: 0;

    @include screen-sm {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }
}

.contents__right {
    display: block;
    padding: 0 rem(20px);
}