.contact-me {
    position: absolute;
    width: 380px;
    height: 312px;
    background-color: rgba(#fff, 0.8);
    border-radius: 10px; 
    top: 30%;
    left: 50%;
    margin-left: -190px;
    padding: 35px 40px;
    z-index: 2;

}

