.copyright {
    
    color: #fff;
    display: block;
    text-align: center;


    &--footer {
        background-color: rgba(#6c9c5a, 0.8);
        font-family: 'robotolight', sans-serif;
        height: rem(35px);
        line-height: rem(35px);

        @include screen-sm {
            height: rem(66px);
        }
    }
}