.input {
    background-color: #fff;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 30px;
    color: $text;

    &--half-round {
        border-radius: 0 30px 30px 0;
    }
}