.names {
    width: 30%;
    flex-shrink: 0;
    padding: 20px 70px;
}

.names__item {
    display: block;
    text-align: right;
    padding: 17px 15px;
    border-right: 3px solid transparent;

    &:hover {
        border-right: 3px solid $green;
        color: $green;
        font-family: 'robotobold', sans-serif;
    }
}


