.nav__list {
    width: 100%;
    display: flex;
}

.nav__item {
    flex-grow: 1;
    background-color: $lightGreen;
    border-left: 2px solid #9fb99d;
    
    &:first-child {
        border-left: none;
    }

    &:hover {
        background-color: $green;
    }

}

.nav__link {
    display: block;
    padding: 13px 29px;
    font-family: 'robotomedium', sans-serif;
    color: #fff;
   
}
