.photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 10;
    position: relative;

    &--small {
        width: 77px;
        height: 77px;
    }
}

