.socials {
    display: flex;
    align-items: flex-end;
    height: 40px;
}

.socials__item {
    display: inline-block;
    margin-left: 20px;

    &:first-child {
        margin-left: 0;
    }
}

.socials__link {
    display: block;
    width: 31px;
    height: 22px;

    svg {
         fill: $link !important; 
    }
    
}

.socials__svg {
    
}