.socials {
    display: flex;
    align-items: center;
    height: 40px;
}

.socials__item {
    display: inline-block;
    margin-left: 20px;

    &:first-child {
        margin-left: 0;
    }
}

.socials__link {
    display: block;
    opacity: 0.5;
    
}

.socials__link:hover {
    opacity: 1;

    .socials__svg {
        fill: $green; 
    }
}





