.speaking {
    background-image: url('../img/works-bg.png');
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.speaking__testimonials {
    margin: rem(20px) auto rem(50px);
    width: 60%;

    @include screen-sm {
        width: 100%;
    }
}

.speaking__contact-me {
    margin-bottom: rem(70px);
}

.speaking__arrow {
    margin-bottom: rem(182px);

    @include screen-sm {
        margin-bottom: rem(265px);
    }

    @include screen-xs {
        margin-bottom: rem(358px);
    }
}
