.welcome {
    background: url('../img/welcome-bg.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;

    @include screen-xs {
        padding: 0 5%;
    }
}

.welcome__flipper {
    max-width: rem(380px);
    min-height: rem(395px);
    flex-grow: 1;
}

.welcome__inner {
    min-width: rem(380px);
    min-height: rem(395px);
    background-color: rgba(#000, 0.5);
    display: flex;
    flex-direction: column;
    border-radius: 15px; 
    overflow: hidden;

    @include screen-sm {
        min-width: rem(348px);
    }
}

.welcome__button {
    position: absolute;
    top: rem(20px);
    right: rem(80px);

    @include screen-lg {
        right: rem(20px);
    }

    @include screen-xs {
        left: 50%;
        right: initial;
        transform: translateX(-50%);
    }
}

.welcome__copyright {
    position: absolute;
    bottom: rem(45px);
}