footer.footer
    .footer__column 
        p.footer__text Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. 
    .footer__column 
        .footer__nav
            +nav(1)
        .footer__socials
            include socials.pug
    .footer__column.quote
        blockquote.quote__text Talk is cheap. Show me the code.
        cite.quote__author ― Linus Torvalds
.copyright.copyright--footer © Екатерина Леонидова | создано с любовью в LoftSchool | 2016
    