mixin nav(long) 
    .nav
        ul.nav__list
            li.nav__item
                a.nav__link(href="works.html" title="Мои работы") Мои работы
            li.nav__item
                a.nav__link(href="about.html" title="Обо мне") Обо мне
            li.nav__item
                a.nav__link(href="blog.html" title="Блог") Блог
            if long == 1 
                li.nav__item
                    a.nav__link(href="index.html?auth=true" title="Авторизация") Авторизация
