//- include mixins.pug

ul.socials
    //- each social in ['vk', 'github', 'in' ]
    li.socials__item
        a.socials__link(href="#" title="Моя страница Вконтакте")
            include ../icons/vk.svg
    li.socials__item
        a.socials__link(href="#"  title="Моя страница GitHub")
            include ../icons/github.svg
    li.socials__item
        a.socials__link(href="#"  title="Моя страница LinkedIn")
            include ../icons/in.svg
