ul.socials
    //- each social in ['vk', 'github', 'in' ]
    li.socials__item
        a.socials__link(href='#')
            include ../icons/vk.svg
    li.socials__item
        a.socials__link(href='#')
            include ../icons/github.svg
    li.socials__item
        a.socials__link(href='#')
            include ../icons/in.svg
