extends pug/base

block head
    title Обо мне
block content
    .maincontent
        section.section
            h1.section__title Обо мне
            div
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. At modi in quisquam perferendis laborum omnis sed rerum fugit facere eius. Aliquam, voluptas natus possimus labore reiciendis iusto beatae quis temporibus?

