extends pug/base

block head
    title Блог
block content
    .maincontent
        .section.blog
            h1.visually-hidden Блог. Статьи, которые я написала      
            header.header
                .header__socials
                    include pug/socials.pug
                button.btn.header__menu 
                    .hamburger-menu#hamburger-menu
                        .hamburger-menu__bars
                .section__backing
                    svg.svg
                        use(xlink:href="img/sprite.svg#blog_header") 
                .photo
                    img.img(src="img/me.jpg" alt="Леонидова Екатерина")
                h2.section__title Блог
                p.header__text Статьи, которые я написала         
            main.blog__main
                .triangles.triangles--sameColor
                    svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle")
                        polygon(class="triangle__left" points="0,0   0,86   500.8,86   500.8,75.5")
                        polygon(class="triangle__right" points="1000,0   1000,86   500,86   500,75.5") 
                .contents.blog__contents
                    aside.names.contents__left
                        ul.names__list
                            li.names__item Заголовок статьи
                            li.names__item Очень длинный заголовок невероятно интересной статьи
                            li.names__item Ещё статья
                            li.names__item Основные преимущества flexbox
                            li.names__item Последняя статья
                    section.contents__right
                        article.article
                            h2.article__title Заголовок статьи
                            time.article__date(datetime="2018-01-20") 20 февраля 2018
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur tempore assumenda voluptatem eveniet omnis nisi facilis ipsum tempora corrupti esse asperiores, fuga rem est quisquam amet qui magni, obcaecati eum recusandae aspernatur eligendi nam accusamus non! Repellat rerum hic, ipsa delectus illo corporis, aliquam totam, sequi quisquam velit quos eligendi.
                        article.article
                            h2.article__title  Очень длинный заголовок невероятно интересной статьи
                            time.article__date(datetime="2018-01-20") 20 февраля 2018
                            p Далеко-далеко за словесными горами в стране.
                        article.article
                            h2.article__title  Ещё статья
                            time.article__date(datetime="2018-01-20") 20 февраля 2018
                            p Далеко-далеко за словесными горами в стране.
                        article.article
                            h2.article__title  Основные преимущества flexbox
                            time.article__date(datetime="2018-01-20") 20 февраля 2018
                            p Все блоки очень легко делаются “резиновым”, что уже следует из названия “flex”. Элементы могут сжиматься и растягиваться по заданным правилам, занимая нужное пространство.
                            p Выравнивание по вертикали и горизонтали, базовой линии текста работает шикарно.
                            p Расположение элементов в html не имеет решающего значения. Его можно поменять в CSS. Это особенно важно для некоторых аспектов responsive верстки.
                            p Элементы могут автоматически выстраиваться в несколько строк/столбцов, занимая все предоставленное место.
                            p Множество языков в мире используют написание справа налево rtl (right-to-left), в отличии от привычного нам ltr (left-to-right). Flexbox адаптирован для этого. В нем есть понятие начала и конца, а не права и лева. Т.е. в браузерах с локалью rtl все элементы будут автоматически расположены в реверсном порядке.
                            p Синтаксис CSS правил очень прост и осваивается довольно быстро.

                        article.article
                            h2.article__title  Последняя статья
                            time.article__date(datetime="2018-01-20") 20 февраля 2018
                            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Курсивных то осталось за.
            include pug/footer.pug
        .fullscreen.visually-hidden
            +nav(1)
block script
    script(src='js/blog.bundle.js')
