extends pug/base

block head
    title Сайт-портфолио
block content
    .maincontent
        section.section.welcome
            a.button.welcome__button Авторизоваться
            .welcome__inner
                .profile
                    .photo
                        img.photo__jpg(src='img/me.jpg')
                    h1.profile__title Леонидова Екатерина
                    p.profile__text Веб-разработчик
                    include pug/socials.pug

                include pug/nav.pug
            .copyright © Екатерина Леонидова | создано с любовью в LoftSchool | 2016

