extends pug/base

block head
    title Сайт-портфолио
block content
    .maincontent
        section.section.welcome
            h1.visually-hidden Личный сайт разработчика Леонидовой Екатерины  
            a.welcome-btn.welcome__button(href="auth.html" title="Авторизация") Авторизоваться
            .welcome__inner
                .profile.header__profile
                    .photo
                        img.img(src="img/me.jpg" alt="Леонидова Екатерина")
                    h2.profile__title Леонидова Екатерина
                    p.profile__text Веб-разработчик
                    include pug/socials.pug
                +nav(0)

               
            .copyright.welcome__copyright © Екатерина Леонидова | создано с любовью в LoftSchool | 2018

