extends pug/base

block head
    title Мои работы
block content
    .maincontent
        section.section.works
            h1.visually-hidden Мои работы и отзывы обо мне  
            header.header
                .header__socials
                    include pug/socials.pug
                button.btn.header__menu
                    svg.svg(width="40" height="35")
                        use(xlink:href="img/sprite.svg#hamburger")
                .section__backing
                    include icons/portfolio_header.svg
                .profile.header__profile
                    .photo
                        img.img(src="img/me.jpg")
                    h2.profile__title Леонидова Екатерина
                    p.profile__text Веб-разработчик   
                button.btn.arrow.header__arrow
                    svg.svg(width="26" height="16")
                        use(xlink:href="img/sprite.svg#arrow_down")
            .works__main    
                .triangles.triangles--sameColor
                    svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle")
                        polygon(class="triangle__left" points="0,0   0,86   500.8,86   500.8,75.5")
                        polygon(class="triangle__right" points="1000,0   1000,86   500,86   500,75.5")  
                .works__content
                    .section__title-box
                        .section__backing
                            include icons/works_header.svg
                        h2.section__title.section__title--dark.works__title  Мои Работы
                    .works__slider.slider
                            .slider__info 
                                h3.section__subtitle.slider__title Сайт школы онлайн-образования
                                .slider__desc HTML , CSS, JAVASCRIPT
                                a.slider__link.link-btn(href="#")
                                    span.link-btn__icon
                                        svg.link-btn__svg
                                            use(xlink:href="img/sprite.svg#link")
                                    span.link-btn__link-text Посмотреть сайт
                            .slider__display 
                                .slider__work 
                                    img.img(src="img/works.png")
                            .slider__btns
                                .slider__left
                                    .slider__work 
                                        img.img(src="img/works.png")
                                    button.btn.slider__btn
                                        button.btn.arrow.slider__arrow
                                            svg.svg
                                                use(xlink:href="img/sprite.svg#arrow_down")
                                .slider__right
                                    .slider__work 
                                        img.img(src="img/works.png")
                                    button.btn.slider__btn
                                        button.btn.arrow.arrow--up.slider__arrow
                                            svg.svg
                                                use(xlink:href="img/sprite.svg#arrow_down")
            .works__about.speaking
                .section__title-box
                    .section__backing
                        include icons/about_header.svg
                    h2.section__title.section__title--dark.works__title  Что обо мне говорят
                .testimonials.speaking__testimonials
                    .testimonials__left.review
                        .photo.photo--small
                            img.img(src='img/Dmitry.jpg')
                        blockquote.review__text Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        cite.review__cite
                            .review__author Ковальчук Дмитрий
                            .review__place - Loftschool
                    .testimonials__right.review
                        .photo.photo--small
                            img.img(src='img/Linus.jpg')
                        blockquote.review__text Talk is cheap. Show me the code.
                        cite.review__cite
                            .review__author Linus Torvalds
                            .review__place - The Linux Foundation
                .contact-me.speaking__contact-me
                    h3.section__subtitle.section__subtitle--dark.contact-me__title Связаться со мной
                    form.contact-me__form.form.form--contact(action="")
                        .form__input
                            label.visually-hidden(for="name") Имя
                            input.input(type="text" name="name" placeholder="Имя" id="name") 
                        .form__input
                            label.visually-hidden(for="email") Email
                            input.input(type="email" name="email" placeholder="Email" id="email") 
                        .form__input
                            label.visually-hidden(for="email") Ваше сообщение
                            textarea.input.textarea(name="comment" placeholder="Ваше сообщение" id="comment" rows="7") 
                        .form__buttons
                            button.btn.form__btn(type="submit") Отправить
                            button.btn.form__btn(type="reset") Очистить
                button.btn.arrow.arrow--up.contact-me__arrow
                    svg.svg(width="26" height="16")
                        use(xlink:href="img/sprite.svg#arrow_down")
            .works__footer
                include pug/footer.pug
 
    
