extends pug/base

block head
    title Мои работы
block content
    .maincontent
        section.section.works  
            header.header
                .header__socials
                    include pug/socials.pug
                a.header__menu(href="#") 
                    include icons/hamburger.svg
                .profile
                    .photo
                        img.photo__jpg(src='img/me.jpg')
                    h1.profile__title Леонидова Екатерина
                    p.profile__text Веб-разработчик   
                a.arrow.header__arrow(href="#")
                    include icons/arrow_down.svg
            .works__main    
                .triangles.triangles--sameColor
                    svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle")
                        polygon(class="triangle__left" points="0,0   0,86   500.8,86   500.8,75.5")
                        polygon(class="triangle__right" points="1000,0   1000,86   500,86   500,75.5")  
                .works__content
                    h1.section__title.section__title--dark.works__title  Мои Работы
                    .works__slider.slider
                            .slider__info Информация
                            .slider__display Большая картинка
                            .slider__btns Кнопки
            .works__about.speaking
                h1.section__title.section__title--dark.works__title  Что обо мне говорят
                .testimonials.speaking__testimonials
                    .testimonials__left.quote
                        .photo
                            img.photo__jpg(src='img/me.jpg')
                        blockquote.quote__text Talk is cheap. Show me the code.
                        cite.quote__author ― Linus Torvalds
                    .testimonials__right
                        .photo
                            img.photo__jpg(src='img/me.jpg')
                        blockquote.quote__text Talk is cheap. Show me the code.
                        cite.quote__author ― Linus Torvalds
                .contact-me
                    .contact-me__title
                        h3.section__subtitle Контакты
  
            .works__footer
                include pug/footer.pug
 
    
